.collapsible {
  background-color: #006BA8;
  border-color: #33C3F0;
  color: white;
  cursor: pointer;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;

  margin-bottom: 0px;
}

.active, .collapsible:hover {
    background-color: #33C3F0;

}

.collapsible:after {
  content: '\002B';

  color: white;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2212";
}

.content {
  margin-bottom: 10px;

  padding: 0 18px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  background-color: #f1f1f1;
}

