/*

Le code utilisé par défaut correspond à celui pour mobile

Si l'on veut afficher du code différent pour un ordinateur ou une tablette on utilise le :
@media (min-width: AAAApx) {
	//Code utilisé pour les écran supérieurs à AAAA pixels	
}

    Desktop HD: 1200px
    Desktop: 1000px
    Tablet: 750px
    Phablet: 550px
    Mobile: 400px

(source: http://www.getskeleton.com)
*/

.main_container {
	padding-top: 50px;
	padding-bottom: 100px;
}

/* Utilisé pour afficher l'image (de l'école) de fond avec un index sur coordonnée z = -1 (afficher en dessous des éléments de la page) */
.header {
	position: absolute;
	width: 100%;
	height: 300px;
	z-index: -1;
}

/* Style pour le slogan du site (affiché au milieu de searchContainer ) */
.header_slogan  {
/* Non relatif aux éléments dans la div parent, mais équivaut je pense à prendre comme réf de base le container parent*/
	position: absolute; 
	
/* Ancrages en haut, en bas, a droite et a gauche pour centrer */
	top: 0;			
	bottom: 0;
	right: 0;
	left: 0;

/* Ce qui parait le mieux pour les utilisateurs mobiles, tout en évitant les débordements */
	font-size: 1.4em; 
/* Couleur du texte blanc */
	color: white;
/* Alignement du texte au milieu de sa propre div */
	text-align: center; 
/* Ombre de texte noire avec opacité de 0.3/1 */
	text-shadow: rgba(0,0,0,0.5) 1px 0 10px; 
	
/* Espacement depuis le haut de 70px */
	padding-top: 70px; 
/* Hauteur maximal de la div */
	max-height: 100px;	
	/*padding-bottom: 100px;*/
}

/* Afficher les info rapides sur l'utilisateur */
.header_information_utilisateur {
/* Position par rapport au body de la page */
	position: absolute; 
/* Ancrage en haut et à droite */
	top: 0;
	right: 0;

/* Espacements par rapport a la droite et le haut */
	padding-right: 50px;
	padding-top: 15px;

/* Couleur du texte */
	color: white;

	text-shadow: rgba(0,0,0,0.5) 3px 3px 5px;
}


/* Taille de notre header */
.home_header {
	height: 300px;
}

/* Notre container searchContainer */
.searchContainer {
	max-width: 700px;
	padding-top: 180px;
}

.footer {
	position: absolute;
	right: 0;
	bottom: 0;
	left: 0;
	padding: 1rem;
	text-align: center;
	border-top: 1px solid lightgrey;

	color: black;
	opacity: 0.5;
}


/* min-width trouvée avec plusieurs tests pour éviter les débordements du texte du slogan et avoir un rendu plus fluide */
@media (min-width: 460px) {
/* Les propriétés de .header_slogan écrites au dessus sont quand meme éxécutées. Les propriétés écrites en dessous vont modifier les autres sans modifier celles qui n'ont pas bougées.  */

	.header_slogan {
		padding-top: 50px;
		font-size: 2em;
	}

}

@media (min-width: 750px) {
	/*.footer {
		position: absolute;
		right: 0;
		bottom: 0;
		left: 0;
		padding: 1rem;
		background-color: #efefef;
		text-align: center;
		opacity: 0.3;
		color: black;
	}*/
}