/*

Le code utilisé par défaut correspond à celui pour mobile

Si l'on veut afficher du code différent pour un ordinateur ou une tablette on utilise le :
@media (min-width: AAAApx) {
	//Code utilisé pour les écran supérieurs à AAAA pixels	
}

    Desktop HD: 1200px
    Desktop: 1000px
    Tablet: 750px
    Phablet: 550px
    Mobile: 400px

(source: http://www.getskeleton.com)
*/

.main_container {
	padding-top: 10px;
	padding-bottom: 100px;
}

/* Utilisé pour afficher l'image (de l'école) de fond avec un index sur coordonnée z = -1 (afficher en dessous des éléments de la page) */
.header {
	position: absolute;
	width: 100%;
	height: 370px;
	z-index: -1;
}

/* Style pour le slogan du site (affiché au milieu de searchContainer ) */
.header_slogan  {
/* Non relatif aux éléments dans la div parent, mais équivaut je pense à prendre comme réf de base le container parent*/
	position: absolute; 
	
/* Ancrages en haut, en bas, a droite et a gauche pour centrer */
	top: 0;			
	bottom: 0;
	right: 0;
	left: 0;

/* Ce qui parait le mieux pour les utilisateurs mobiles, tout en évitant les débordements */
	font-size: 1.4em; 
/* Couleur du texte blanc */
	color: white;
/* Alignement du texte au milieu de sa propre div */
	text-align: center; 
/* Ombre de texte noire avec opacité de 0.3/1 */
	text-shadow: rgba(0,0,0,0.5) 1px 0 10px; 
	
/* Espacement depuis le haut de 70px */
	padding-top: 70px; 
/* Hauteur maximal de la div */
	max-height: 100px;	
	/*padding-bottom: 100px;*/
}

/* Afficher les info rapides sur l'utilisateur */
.header_information_utilisateur {
/* Position par rapport au body de la page */
	position: absolute; 
/* Ancrage en haut et à droite */
	top: 0;
	right: 0;

/* Espacements par rapport a la droite et le haut */
	padding-right: 50px;
	padding-top: 15px;

/* Couleur du texte */
	color: white;

	text-shadow: rgba(0,0,0,0.5) 3px 3px 5px;

	text-overflow: ellipsis;
	overflow: hidden;
}


/* Taille de notre header */
.home_header {
	height: 370px;
}

/* Notre container searchContainer */
.searchContainer {
	max-width: 800px;
	padding-top: 150px;
}




/* Annonces */
.annonce_container {
	padding: 10px 20px 10px 20px;
}

.annonce_container:hover {
	background-color: #EFEFEF;
}

.annonce_inner_container {
	
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical; 
}

.annonce_titre {
	font-size: 1.4em;
	text-overflow: ellipsis;
	overflow: hidden;
}

.annonce_titre a {
	color: #006BA8;
	text-decoration: none;
}

.annonce_titre a:hover {
	text-decoration: underline;
}

.annonce_entreprise {
	text-overflow: ellipsis;
	overflow: hidden;
	color: #006BA8;
}

.annonce_location {
	text-overflow: ellipsis;
	overflow: hidden;
}

.annonce_duree {
	text-overflow: ellipsis;
	overflow: hidden;
}

.annonce_description {
	
	
	overflow: hidden;
  word-break: break-word;
	/*white-space: nowrap;*/
}

/* nav_menu contient .menu */
.nav_menu {
	margin-bottom: 10px;
}

.nav_menu li {
	margin-bottom: 0px;
	flex-grow: 1;

}
.nav_menu li:hover {
	background-color: #EFEFEF;
}

.nav_menu ul {
	padding: 0px;
	margin: 0px;
	list-style: none; /*enleve les points de ul */

}

.nav_menu a {
	text-decoration: none;
	text-align: center;
	display: block;
	padding: 1em;
	vertical-align: center;
	font-size: 1.6rem;
}

.nav_menu .menu {
	display: flex;
	flex-direction: row; /* En ligne */
	justify-content: space-around;
	flex-flow: column wrap;

}

.menu_item {
	display:none;

}

.menu_toggle_icon {
	align-self: flex-end;
	display: initial;
	cursor: pointer;
	position: absolute;
	top: 10px;

}


/* min-width trouvée avec plusieurs tests pour éviter les débordements du texte du slogan et avoir un rendu plus fluide */
@media (min-width: 460px) {
/* Les propriétés de .header_slogan écrites au dessus sont quand meme éxécutées. Les propriétés écrites en dessous vont modifier les autres sans modifier celles qui n'ont pas bougées.  */

	.header_slogan {
		padding-top: 50px;
		font-size: 2em;
	}

	

}

/* 550px est la taille à laquelle SKELETON CSS passe la classe container en mode mobile */
@media (min-width: 550px) {
	.home_header {
		height: 300px;
	}

	.header {
		height: 300px;
	}
	.nav_menu .menu {
		flex-flow: row;
	}

	.menu_item {
		display: block;
	}
	.menu_toggle_icon {
		display: none;
	}


		/*.footer {
		position: absolute;
		right: 0;
		bottom: 0;
		left: 0;
		padding: 1rem;
		background-color: #efefef;
		text-align: center;
		opacity: 0.3;
		color: black;
	}*/
}

