/* Styles pour mobiles */

html {
	height: 100%;
}

body {
	position: relative;
	margin: 0;
	min-height: 100%;
}

.register {
	max-width: 450px;
	padding-top: 50px;
	padding-bottom: 100px;
}

.inscription {
	position: absolute;
	left: 0;

	margin-top: -33px;
	padding-left: 30px;
}

.super {
	background-color: white;
	box-shadow: 0px 0px 15px 5px rgba(0,0,0,0.2);
	border-radius: 10px;
	border: 0.5px solid lightgrey;
	padding-top: 20px;
}

.lower {
	padding-right: 20px;
	padding-left: 20px;
}

.header {
	position: absolute;
	width: 100%;
	height: 200px;
}

.footer {
	position: absolute;
	right: 0;
	bottom: 0;
	left: 0;
	padding: 1rem;
	text-align: center;
	border-top: 1px solid lightgrey;
	color: grey;
}

.erreur_login {
	color: red;
	font-size: 1.5rem;
	margin-bottom: 10px;
}

/* Styles pour ordinateur et tablette */
@media (min-width: 750px) {

	.register {
		max-width: 550px;
		padding-top: 100px;
		
	}

	.super {
		background-color: white;
		box-shadow: 0px 0px 15px 5px rgba(0,0,0,0.2);
		border-radius: 10px;
		border: 0.5px solid lightgrey;
		padding-top: 20px;
	}

	.lower {
		padding-right: 20px;
		padding-left: 20px;
	}

	.header {
		position: absolute;
		width: 100%;
		height: 100%;
	}

	.footer {
		position: absolute;
		right: 0;
		bottom: 0;
		left: 0;
		padding: 1rem;
		background-color: #efefef;
		text-align: center;
		opacity: 0.3;
		color: black;
	}
}