/* Styles pour mobiles */

.login {
	max-width: 450px;
	padding-top: 50px;
	padding-bottom: 100px;
}

.inscription {
	position: absolute;
	right: 0;

	margin-top: -33px;
	padding-right: 30px;
}

/* Styles pour ordinateur et tablette */
@media (min-width: 750px) {

	.login {
		max-width: 450px;
		padding-top: 100px;
	}

}